.register-page {
  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-columns: 4fr 6fr;
  
  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .open-source-notice {
      font-size: .75rem;
      text-align: center;
      margin-top: .5rem;
      color: rgba(255,255,255,.6);
    }
  }
  .illustration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .register-illustration {
      width: 50%;
      height: auto;
    }

    .hint-text {
      margin-top: 2.5rem;
      color: rgba(0,0,0,.8);
      letter-spacing: -0.5px;
    }
  }
}
